.container {
  padding: 40px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.counter {
  margin-bottom: 40px;
}

.counter button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: rgb(157, 230, 106);
  color: rgb(141, 12, 12);
  border: none;
  border-radius: 8px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
  gap: 20px;
}

.card {
  border: 1px solid #f37fd4;
  padding: 20px;
  border-radius: 10px;
  background: #aabe7a;
}